@model BaiThiEAP.Models.Account
@{
    ViewBag.Title = "About";
}

<h1>Demo Money Transfer</h1>
<h3>
    Welcome to : @Model.Username
</h3>
<h3>
    Your current balance : @Model.Blance
</h3>
<br />
<div>
    <label>Receiver Code </label>
    <input type="number" />
</div>
<br />
<div>
    <label>Amount </label>
    <input  type="number"/>
</div>




